.register {
  background-color: white;
  color: black;
  height: 400px;
  padding: 40px 100px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.register_header {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-size: 20px;
}
.content_register .step_register {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  min-width: 300px;
  margin-bottom: 30px;
}

.go_to_register {
  display: flex;
  justify-content: space-between;
}

.login textarea {
  min-width: 400px;
}
.signUp {
  padding-top: 35px;
}
.signUp h3 {
  margin-bottom: 10px;
  color: rgb(59, 59, 59);
}
.signUp input {
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  min-width: 400px;
}
.finish_register {
  background-color: black;
  color: white;
  padding: 10px 40px;
  border: none;
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
